@CHARSET "ISO-8859-1";
form {
	width: 25em;
}

label.h2 {
	float:left;
	text-align:right;
	font-weight: bold;
	font-size: 150%;
	width: 70%;
	margin-bottom: 1em;
}

label {
	text-align: right;
	float: left;
	width: 40%;
}

input {
	text-align: left;
	margin: 0 0 1em .2em;
	padding: .2em .5em;
	background-color: #fffbf0;
	border: 1px solid #e7c157;
}

label.input {
	text-align: left;
	line-height: 1.5;
}

label.input::after {
	content: ": ";
}

button {
	margin-top: 1.5em;
	width: 40%;
}
