@CHARSET "ISO-8859-1";
/************Seiteneinteilung****************************/
body {
	background-color:#990000;
	text-align:center;
}
#webseite{
	width:80%;
	margin:0 auto;
	background: white;
}
header{
	width: 100%;
}
#main{	
	width:100%;
	background:white;
}	

footer{	
	float: left;
	width:100%;
	height: 1.25em;
	background: black;
}
/************Navigationsleiste*****************************/
nav {
	width: 100%;
	height: 2.5em;
	background-color: black;
}
nav:after {
	content:''; 
	clear: left;
}
nav li {
  	list-style-type: none; /* ohne Aufzählungspunkte */
 	float: left;
  	position: relative;
}
nav ul
{	padding: 0;
	margin: 0;
}
nav ul ul {
	/* Unterseite ausblenden */
	font: 0/0 serif;
	margin: .4em 0 0 0;
 	padding: 0;
	position: absolute;
	top: 1.9em; 
	z-index:-1;
}
nav ul li:hover ul {
 	/* Unterseite einblenden */
	font: inherit;
	z-index: auto;
}
nav ul ul li {
  float: none;
  display: block;
}
nav a,
nav span {
	display: block;
	width: 10em;
	margin: .4em 0 0 0;
	padding: 0.3em;
	text-decoration: none;
	font-weight: bold;
	border: 1px solid black;
	border-radius: 10px;
	box-shadow: 0px 5px 10px white inset;
	color: black;
	background-color: white;
}
nav ul ul a,
nav ul ul span {
	border-radius: 10px;
}
nav a:focus,
nav a:hover,
nav span {
	/* aktuelle Seite hervorheben */
	color: white;
	background-color: #990000;
}
/*******************Seitenaufteilung*****************+*/	
figure{
  margin: 0;
}
 
figure.bild1 {
  display: inline-block;
  width: 49%;
}
figure.bild2 {
  display: inline-block;
  width: 49%;
}
#zeile
{	width: 100%;
	float: left;
}
#spaltelinks
{	width: 50%;
	float:left;
}
#spalterechts
{	width: 50%;
	float:left;
	
}
#leer
{
	clear:both;
}
fieldset
{	
	border: none;
}
/*******************Formulardaten***********************/
label.h2 {
	text-align: left;
	font-weight: bold;
	font-size: 150%;
	width: 100%;
	margin-bottom:1em;
	margin-left:2em;
	margin-top: 1em;
}
label {
	text-align: right;
	margin-bottom:.5em;
	float: left;
	width: 30%;
	padding-right:.5em;
}
input,textarea,select {
	float: right;
	text-align: left;
	width: 60%;
	margin-bottom:.5em;
	margin-right: 1em;
	padding: .2em ;
	background-color: #FAEBD7;
	border: 1px solid #990000;
}
label,textarea, input, select, figure
{	display: block;	
	float: left;
}
button
{	clear: right;
	float: right;
	margin-bottom:0.5em;
	margin-right: 1em;
}
input[type="checkbox"]{
    float: left;
    width: 5%;
}
#anlegen
{	margin-left:1em;
	float: left;
}
**************
.vorschau {
	height: 10px;
	border: 1px solid #000;
	margin: 10px 5px 0 0;
}

output {
	display: block;
}

**********
/**************Tabelle**************************/
table { 
	margin-left:1em;
 	border-collapse: collapse;
 }
 
 td,
 th {text-align: left;
 	padding: .5em;
 }
 
 th:last-child,
 td:last-child {
 	padding-right: .5em;
 }
 
 thead th {
 	border-bottom: 2px solid #990000;
 }
 
 tbody th {
 	font-weight: normal;
 	text-align: left;
 }
  th a {
 	padding: 15px 5px 15px 40px;
 }
 
/** **************** CSS-Regeln für Ausgabegeräte kleiner 600px *******************/
@media (max-width: 600px) {   
    
 /* Allgemein */
  
body{    
 }
#webseite {
		width :100%;
 }
h1{
	width: 100%;
	font-weight: bold;
	font-size: 90%;
	margin-bottom:1em;
	text-align: center;
}
  /***********Navigationsleiste************/
nav{
	height:1.5em;
	padding-top:0.2em;
}
nav li
{	float: none;
	text-align:left;
}
nav a,
nav span,
nav ul ul a{
	 border-radius: 0;
	 margin:0;
	 width: 96%;
 }
nav  ul  li {
  display: none;
}
nav  ul:hover li {
  display: block;
}
nav > ul::before {
  text-align: center;
  display: block;
  content: "Menü";
  padding-top: 10x;
  color: white;
  font-weight: bold;
  border: 1px solid black;
  color: white;
  background-color: black;
}

nav li ul
		{	margin:0;
			position: static;
			padding-left:1em;
			width: 96%;

		}
/****************Seitenaufteilung**********/
#zeile
{
	width:100%;
}
#spaltelinks
{	clear:both;
	width: 100%;
	float:left;
}
#spalterechts
{	clear: both;
	width: 100%;
	float:left;
}
label
{	width:90%;
	text-align: left;
	margin-left: 0.4em;
}
input,textarea,select {
	width: 90%;
	margin-right: 0.5em;
}
img{
	width: 100%;
	height: auto;
}
	
/** *****************Tabelle******************/
thead {
	display: none;
}
tr:first-child {
	border-top: 2px solid #990000;
}
tr {
	border-bottom: 2px solid #990000;
	padding: .2em 2em 1em;
}
th::before {
	content: attr(data-label);
}
td::before
{
	content: attr(data-label) ": ";
}
table,
tbody,
tr {
	display: block;
}
tbody th {
	display: block;
	font-weight: bold;
}
th a {
	font-weight: normal;
}
td {
	display: block;
	min-width: 30%;
	padding: .2em;
	text-align: left;
}
td:nth-child(3) {
	text-align: left;
}

}