@CHARSET "ISO-8859-1";
/************Seiteneinteilung****************************/
body {
	background-color:#990000;
	text-align:center;
}
#webseite{
	width:80%;
	margin:0 auto;
	height: auto;
	background: white;
}
header{
	width: 100%;
}
#main{	
	width:100%;
	min-height: 390px;
	height:auto;
	background:white;
}	

footer{	
	float: left;
	width:100%;
	height: 1.25em;
	background: black;
}
/************Navigationsleiste*****************************/
/*Strip the ul of padding and list styling*/
nav {
	width: 100%;
	height: 2em;
	background-color: black;
}
ul {
	list-style-type:none;
	margin:0;
	padding:0;
	position: absolute;
}

/*Create a horizontal list with spacing*/
li {
	display:inline-block;
	float: left;
	margin-right: 1px;
}

/*Style for menu links*/
li a {
	display:block;
	min-width:10em;
	text-align: center;
	text-decoration: none;
	margin: 0;
	padding: 0.3em;
	text-decoration: none;
	font-weight: bold;
	border: 1px solid black;
	border-radius: 10px;
	box-shadow: 0px 5px 10px white inset;
	color: black;
	background-color: white;
}

/*Hover state for top level links*/
li:hover a {
	color: white;
	background: #990000;
}

/*Style for dropdown links*/
li:hover ul a {
	background: white;
	color: black;
	border-radius: 10px;
	padding: 0.3em;
}

/*Hover state for dropdown links*/
li:hover ul a:hover {
	background: grey;
	color: #fff;
}

/*Hide dropdown links until they are needed*/
li ul {
	display: none;
}

/*Make dropdown links vertical*/
li ul li {
	display: block;
	float: none;
}

/*Prevent text wrapping*/
li ul li a {
	width: auto;
	padding: 0;
}

/*Display the dropdown on hover*/
ul li a:hover + .hidden, .hidden:hover {
	display: block;
}

/*Style 'show menu' label button and hide it by default*/
.show-menu {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-decoration: none;
	color: #fff;
	text-align: center;
	padding:.2em 0;
	display: none;
}

/*Hide checkbox*/
#show-menu{
    display: none;
    -webkit-appearance: none;
}

/*Show menu when invisible checkbox is checked*/
#show-menu:checked ~ #menu{
    display: block;
}




/*******************Seitenaufteilung*****************+*/	
figure{
  margin: 0;
}
 
figure.bild1 {
  display: inline-block;
  width: 49%;
}
figure.bild2 {
  display: inline-block;
  width: 49%;
}
#zeile{	
	width: 100%;
	float: left;
}
#spaltelinks{	
	width: 50%;
	float:left;
}
#spalterechts{	
	width: 50%;
	float:left;	
}
#straße{

	float: left;
	width: 80%;
}
#leer{	
	clear:both;
}
/******Slideshow***********/
#container {
	height: 450px;
	width: 100%;
	margin-top: 80px;
	position: relative;
	top: 30%;
}
#img {
	height: 300px;
	width: 600px;
}
#left_holder {
	height: 450px;
	width: 60px;
	position: absolute;
	left: 0px;
	top: 0px;
}
#right_holder {
	height: 450px;
	width: 60px;
	position: absolute;
	right: 0px;
	top: 0px;
}
.left {
	height: 50px;
	width: 50px;
	position: absolute;
	top: 40%;
	left: 0px;
}
.right {
	height: 50px;
	width: 50px;
	position: absolute;
	top: 40%;
	right: 0px;
}
/*******************Formulardaten***********************/
label.h2 {
	text-align: left;
	font-weight: bold;
	font-size: 120%;
	width: 90%;
}
h5 {
	font-weight: bold;
}
label.kasse {
	text-align: left;
	width: 20%;
	font-weight: bold;
	padding-right: 1em;
}
label {
	text-align: right;
	margin-bottom:.5em;
	float: left;
	width: 30%;
	padding-right:.5em;
}
input,textarea, select{
	float: right;
	text-align: left;
	width: 60%;
	margin-bottom:.5em;
	margin-right: 1em;
	margin-left:.5em;
	padding: .2em ;
	background-color: #FAEBD7;
	border: 1px solid #990000;
}
label,textarea, input, figure, radio, select
{	display: block;
	float: left;
}
button
{	clear: right;
	float: right;
	margin-bottom:0.5em;
	margin-right: 2.5em;
}
#check{
	float: none;
	text-align: left;
}

input[type="checkbox"]{
    float: right;
	text-align: left;
	width: 1;
	margin: 0;
	padding: 0;
	border: none;
}
input[type="radio"]{
    float: left;
    width: 5%;
    text-align: left;
}
input[type='submit']{

    background-color: #D3D3D3;
    -moz-border-radius: 5px;
    border: none;
    
}
#anlegen
{	margin-left:1em;
	float: left;
}
fieldset
{	width: 70%;
	border-color: #990000;
	margin-left:3em;
}
**************
.vorschau {
	height: 10px;
	border: 1px solid #000;
	margin: 10px 5px 0 0;
}

output {
	display: block;
}

**********
/**************Tabelle**************************/
table { 
 	border-collapse: collapse;
 }
 
td,
th {text-align: left;
	padding: .5em;
}
 
th:last-child,
td:last-child {
	padding-right: .5em;
}
#preis{
	text-align: right;
}
 thead th {
 	border-bottom: 2px solid #990000;
 }
 
 tbody th {
 	font-weight: normal;
 	text-align: left;
 }
  th a {
 	padding: 15px 5px 15px 40px;
 }
 
tfoot th {
 	border-top: 2px solid #990000;
 }
/** **************** CSS-Regeln für Ausgabegeräte kleiner 600px *******************/
@media (max-width: 600px) {   
    
 /* Allgemein */
  
body{    
 }
#webseite {
		width :100%;
 }
h1{
	width: 100%;
	font-weight: bold;
	font-size: 90%;
	margin-bottom:1em;
	text-align: center;
}
  /***********Navigationsleiste************/
nav{
	height:1.5em;
}
/*Make dropdown links appear inline*/
ul {
	margin: 0;
	position: static;
	display: none;
}
/*Make all menu links full width*/
ul li, li a {
	text-align: left;
	width: 98.3%;
	border-radius: 0;
}
li:hover ul a {
	border-radius: 0;
	padding: 0.3em;
	width: 100%;
	font-weight: normal;
}
/*Display 'show menu' link*/
.show-menu {
	display:block;
	content: "Menü";
}

/****************Seitenaufteilung**********/
#zeile
{
	width:100%;
}
#spaltelinks
{	clear:both;
	width: 100%;
	float:left;
}
#spalterechts
{	clear: both;
	width: 100%;
	float:left;
}

label
{	width:90%;
	text-align: left;
	margin: 0;
	margin-left: 0.4em;
}
input,textarea, select, option{
	width: 90%;
	margin-right: 0.5em;
}
button{
	width: 60%;
}
img{
	width: 100%;
	height: auto;
}
fieldset
{
	margin: .5em;
	width: 85%;
}	
figure.bild1
{
	width: 80%;
}
/** *****************Tabelle******************/
thead {
	display: none;
}
tr:first-child {
	border-top: 2px solid #990000;
}
tr {
	border-bottom: 2px solid #990000;
	padding: .2em 2em 1em;
}
th::before {
	content: attr(data-label);
}
td::before
{
	content: attr(data-label);
	font-weight: bold;
}
table,
tbody,
tr {
	display: block;
}
tbody th {
	display: block;
	font-weight: bold;
	font-size: 120%;
	padding: .2em;
}
th a {
	font-weight: normal;
}
td{
	display: block;
	min-width: 30%;
	padding: .2em;
	text-align: left;
}
#preis{
	text-align: left;
}

}