@CHARSET "ISO-8859-1";
/**********Schriftarten**********/
h2{	
	text-align: left;
	margin-left: 3.5em;
}
h4{
	text-align: left;
	margin-left: 5em;
	margin-top:-2em;
}
h5 {
	font-weight: bold;
}
/************Seiteneinteilung****************************/
#webseite{
	width:80%;
	margin:0 auto;
	height: auto;
	background: white;
}
body {
	background-color:#990000;
	text-align:center;
}
header{
	width: 100%;
}
#main{	
	width:100%;
	min-height: 390px;
	background:white;
}	
footer{	
	float: left;
	width:100%;
	height: 1.25em;
	background: black;
}
#leer{	
	clear:both;
}
/************Navigationsleiste*************/
/*Strip the ul of padding and list styling*/
nav {
	position: relative;
	width: 100%;
	height: 2em;
	background-color: black;
	z-index: 100000;
}
ul {
	list-style-type:none;
	margin:0;
	padding:0;
	position: absolute;
}

/*Create a horizontal list with spacing*/
li {
	display:inline-block;
	float: left;
	margin-right: 1px;
}

/*Style for menu links*/
li a {
	display:block;
	min-width:10em;
	text-align: center;
	text-decoration: none;
	margin: 0;
	padding: 0.3em;
	text-decoration: none;
	font-weight: bold;
	border: 1px solid black;
	border-radius: 10px;
	box-shadow: 0px 5px 10px white inset;
	color: black;
	background-color: white;
}

/*Hover state for top level links*/
li:hover a {
	color: white;
	background: #990000;
}
/*Style for dropdown links*/
li:hover ul a {
	background: white;
	color: black;
	border-radius: 10px;
	padding: 0.3em;
}
/*Hover state for dropdown links*/
li:hover ul a:hover {
	background: grey;
	color: #fff;
}
/*Hide dropdown links until they are needed*/
li ul {
	display: none;
}
/*Make dropdown links vertical*/
li ul li {
	display: block;
	float: none;
}
/*Prevent text wrapping*/
li ul li a {
	width: auto;
	padding: 0;
}
/*Display the dropdown on hover*/
ul li a:hover + .hidden, .hidden:hover {
	display: block;
}
/*Style 'show menu' label button and hide it by default*/
.show-menu {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-decoration: none;
	color: #fff;
	text-align: center;
	padding:.2em 0;
	display: none;
}
/*Hide checkbox*/
#show-menu{
    display: none;
    -webkit-appearance: none;
}
/*Show menu when invisible checkbox is checked*/
#show-menu:checked ~ #menu{
    display: block;
}

/*******************Slideshow*****************+*/	
#container {
	height: 300px;
	width: 80%;
	margin-top: 95px;
	position: relative;
	border: 2px solid black;
	left: 10%;
	right: 10%;
}
#left_holder {
	width: 60px;
	position: absolute;
	left: 0px;
	top: 40%;
}
#right_holder {
	width: 60px;
	position: absolute;
	right: 0px;
	top: 40%;
}
.left {
	height: 50px;
	width: 50px;
	position: absolute;
	top: 40%;
	left: 0px;
}
.right {
	height: 50px;
	width: 50px;
	position: absolute;
	top: 40%;
	right: 0px;
}
figure{ 
	display: block; 
	position: relative; 
	overflow: hidden; 
	margin: 0 20px 20px 0; 
}
figcaption { 
	position: absolute; 
	background: rgba(0,0,0,0.75); 
	color: white; padding: 10px 20px; 
	opacity: 0; 
	-webkit-transition: all 0.6s ease; 
	-moz-transition: all 0.6s ease; 
	-o-transition: all 0.6s ease; 
}
figure:hover figcaption { 
	opacity: 1; 
}
figure:before { 
	content: ""; 
	position: absolute; 
	font-weight: 800; 
	background: rgba(255,255,255,0.75); 
	text-shadow: 0 0 5px white; 
	color: black; 
	width: 24px; 
	height: 24px; 
	-webkit-border-radius: 12px; 
	-moz-border-radius: 12px; 
	border-radius: 12px; 
	text-align: center; 
	font-size: 14px; 
	line-height: 24px; 
	-moz-transition: all 0.6s ease; 
	opacity: 0.75; 
}
figure:hover:before { 
	opacity: 0; 
} 
.cap-left:before { 
	bottom: 10px; 
	left: 10px;
} 
.cap-left figcaption { 
	bottom: 0; 
	left: -30%; 
} 
.cap-left:hover figcaption { 
	left: 0; 
} 
.cap-right:before { 
	bottom: 10px; 
	right: 10px; 
} 
.cap-right figcaption { 
	bottom: 0; 
	right: -30%; 
} 
.cap-right:hover figcaption { 
	right: 0; 
} 
.cap-top:before { 
	top: 10px; 
	left: 10px; 
} 
.cap-top figcaption { 
	left: 0;
	top: -30%; 
} 
.cap-top:hover figcaption { 
	top: 0; 
}
.cap-bot:before { 
	bottom: 10px; 
	left: 10px; 
} 
.cap-bot figcaption { 
	left: 0; 
	bottom: -30%;
} 
.cap-bot:hover figcaption { 
	bottom: 0; 
}
/*********Seiteneinteilung***********/
.zeile{	
	width: 100%;
	float: left;
}
.spaltelinks{	
	width: 50%;
	float:left;
}
.spalterechts{	
	width: 50%;
	float:left;	
}
.bild{
	float: left;
	margin-bottom: 1em;
	margin-left: 16%;
}
/* 
#bild{
	margin-left:1em;
}
 */

/**********Button*********/
.loeschen{
	margin: 0.5em;
	background-color: #990000;
    border: none;
    color: white;
    padding: .4em .4em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: .5em 2.5em .5em 0;
    cursor: pointer;
    width: 11em;
    border-radius: 3px;
}
button
{	clear: right;
	float: right;
	padding: .2em .8em;
	margin: .5em 2.5em .5em 0;
}

#anlegen
{	margin-left:5em;
	float: left;
}
/******Slideshow***********/


#img {
	height: 300px;
	width: 300px;
}
#imgAdministration{
	bottom: 19%;
}

/*******************Formulardaten***********************/
label.h2 {
	text-align: left;
	font-weight: bold;
	font-size: 120%;
	width: 90%;
	margin-left: 2em;
}
label.kasse {
	text-align: left;
	width: 20%;
	font-weight: bold;
	padding-right: 1em;
}
label {
	text-align: right;
	margin-bottom:.5em;
	float: left;
	width: 30%;
	padding-right:.5em;
}
input,textarea, select{
	float: right;
	text-align: left;
	width: 60%;
	margin-bottom:.5em;
	margin-right: 1em;
	margin-left:.5em;
	padding: .3em ;
	background-color: #FAEBD7;
	border: 1px solid #990000;
	border-radius: 10px;
}
label,textarea, input, radio, select
{	display: block;
	float: left;
}

#check{
	float: none;
	text-align: left;
}

input[type="checkbox"], input[type="radio"]{
    float: right;
	text-align: left;
	padding: 0;
	border: none;
}
input[type='submit']{
    background-color: #D3D3D3;
    -moz-border-radius: 5px;
    border: none; 
}
fieldset
{	width: 70%;
	border-color: #990000;
	margin-left:5em;
}
/**************Sonstiges***************/
output {
	display: block;
}
#text{
	text-align: left;
	margin: 0 5em 2em 5em;	
}
#kasse{
	text-align: left;
}
#antwort{
	color: #990000;
	text-align: center;
	font-weight: bold;	
}
#preis{
	text-align: right;
}
/**************Tabellen**************************/
table { 
 	border-collapse: collapse;
 }
.tabelle
 {	margin-left: 5em;
 }
td,
th {text-align: left;
	padding: .5em;
}
th:last-child,
td:last-child {
	padding-right: .5em;
}
thead th {
 	border-bottom: 2px solid #990000;
}
tbody th {
 	font-weight: normal;
 	text-align: left;
}
th a {
 	padding: 15px 5px 15px 40px;
}
 
tfoot th {
 	border-top: 2px solid #990000;
}
/**************************************************** CSS-Regeln für Ausgabegeräte kleiner 600px *******************/
@media (max-width: 600px) {   
/*********Schriftarten*************/ 
h1{
	width: 100%;
	font-weight: bold;
	font-size: 150%;
	margin-bottom:1em;
	text-align: center;
}   
h2{	
	font-size: 130%;
	text-align: center;
	margin: 0;
	padding: 1em;
}
h4{
	text-align: left;
	margin-left: 0;
	margin-top:-2em;
	padding: .2em;
}
h5{
	font-size: 80%;	
}


/*********Seiteneinteilung*********/
#webseite {
		width :100%;
}

/***********Navigationsleiste************/
nav{
	height:1.5em;
}
/*Make dropdown links appear inline*/
ul {
	margin: 0;
	position: static;
	display: none;
}
/*Make all menu links full width*/
ul li, li a {
	text-align: left;
	width: 98.3%;
	border-radius: 0;
}
li:hover ul a {
	border-radius: 0;
	padding: 0.3em;
	width: 100%;
	font-weight: normal;
}
/*Display 'show menu' link*/
.show-menu {
	display:block;
	content: "Menü";
}

/****************Seitenaufteilung**********/

.zeile{	
	width: 100%;
}
.spaltelinks{	
	clear: both;
	width: 100%;
	float:left;
}
.spalterechts{	
	clear: both;
	width: 100%;
	float:left;	
}
.bild{
	float: left;
	margin-bottom: 1em;
	margin-left: 0;
}
#spalteBild
{	clear:both;
	width: 100%;
	float:left;
}
#spalteText
{	clear: both;
	width: 100%;
	float:left;
}

/********Formulardaten*********/
label
{	width:90%;
	text-align: left;
	margin: 0;
	margin-left: 0.4em;
}
input,textarea{
	width: 90%;
	margin-right: 0.5em;
	padding: .2em;
}
select, option{
	width: 90%;
	float: none;
	text-align: left;
	margin-right: 0.5em;
	padding: .2em;
}
fieldset{
	margin: .5em;
	width: 85%;
}	
/****************Button**************/
.loeschen{
	width: 95%;
	margin: 0.5em;
	background-color: #990000;
    border: none;
    color: white;
    padding: .4em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}
button{
	width: 60%;
	padding: 0; 
	margin: .5em;
}
#buttontabelle
{
	float: none;
}
/** *****************Tabelle******************/

thead {
	display: none;
}
tr {
	border-bottom: 2px solid #990000;
	padding: 0 .2em 1em 1em;	
}
th::before {
	content: attr(data-label);
}
td::before{	
	content: attr(data-label);
	font-style: italic;
	font-size: 110%;
}
.tabelle
 {	margin-left: 0;
 }
table,
tbody,
tr {
	display: block;
}
tbody th {
	display: block;
	font-weight: bold;
	font-size: 120%;
	padding: .2em;
}
th a {
	font-weight: normal;
}
td{
	display: block;
	min-width: 30%;
	padding: .1em;
	text-align: left;
}
tfoot th {
 	border: none;
 }


/******Slideshow***********/
#container {
	height: 300px;
	width: 100%;
	margin-top: 95px;
	position: relative;
	border: none;
	left: 0;
	right: 0;
}
#img {
	height: 200px;
	width: 200px;
}

#left_holder {
	width: 60px;
	position: absolute;
	left: 0px;
	top: 30%;
}
#right_holder {
	width: 60px;
	position: absolute;
	right: 0px;
	top: 30%;
}

.left {
	height: 50px;
	width: 50px;
	position: absolute;
	top: 40%;
	left: 0px;
}
.right {
	height: 50px;
	width: 50px;
	position: absolute;
	top: 40%;
	right: 0px;
}
/*************Sonstiges***************/
img{
	width: 100%;
	height: auto;
}
#imgAdministration{
	bottom: 0;
	width: 70%;
	margin-bottom: 0.2em;
}
#preis{
	text-align: left;
}
#langtext{
	display:none;
}
#antwort{
	color: #99000;
	text-align: left;
	margin: 0 .5em .2em .5em;	
	font-weight: bold;
	padding: .2em;
}
}