@CHARSET "ISO-8859-1";
body 
{
	background-color:#990000;
	text-align:center;
}
#webseite
{
	width:80%;
	margin:0 auto;
	background: white;
}
header
{   width: 100%;
}
#main
{	
	width:100%;
	background:white;
}	
footer
{	
	float: left;
	width:100%;
	height: 1.25em;
	background: black;
}
/**Navigationsleiste*/
nav {
	width: 100%;
	height: 2.5em;
	background-color: black;
	margin-top: -1em;
}
nav:after {
	content:''; 
	clear: left;
}
 nav li {
  	list-style-type: none; /* ohne Aufzählungspunkte */
 	float: left;
  	position: relative;
}
 
nav ul ul {
	/* Unterseite ausblenden */
	font: 0/0 serif;
	margin: .4em 0 0 0;
 	padding: 0;
	position: absolute;
	top: 1.9em; 
	z-index:-1;
}
 nav ul li:hover ul {
 	/* Unterseite einblenden */
	font: inherit;
	z-index: auto;
}
nav ul ul li {
  float: none;
  display: block;
}
nav a,
nav span {
	display: block;
	width: 10em;
	margin: 0.4em 0 0 0;
	padding: 0.3em;
	text-decoration: none;
	font-weight: bold;
	border: 1px solid black;
	border-radius: 10px;
	box-shadow: 0px 5px 10px white inset;
	color: black;
	background-color: white;
}
nav ul ul a,
nav ul ul span {
	border-radius: 10px;
}
nav a:focus,
nav a:hover,
nav span {
	/* aktuelle Seite hervorheben */
	color: white;
	background-color: #990000;
}
/**Seitenaufteilung*/	
figure{
  margin: 0;
}
 
figure.bild1 {
  display: inline-block;
  width: 49%;
}
figure.bild2 {
  display: inline-block;
  width: 49%;
}
#zeile1
{	width: 100%;
	float: left;
}
#spalte1
{	width: 30%;
	float: left;
}
#spalte2
{   width: 25em;
	float: left;
}
#spaltelinks
{	width: 50%;
	float:left;
}
#spalterechts
{	width: 50%;
	float:left;
	
}
#spaltetabelle
{	width: 37.5em;
	margin-left:2em;
	float:left;
}
#leer
{
	clear:both;
}
fieldset
{	
	border: none;
}
/** CSS Formulardaten */
label.h2 {
	text-align: left;
	font-weight: bold;
	font-size: 150%;
	width: 100%;
	margin-bottom:1em;
	margin-left:2em;
	margin-top: 1em;
}
label {
	text-align: right;
	margin-bottom:0.5em;
	float: left;
	width: 30%;
}
input,textarea {
	float: right;
	text-align: left;
	width: 60%;
	margin-bottom:0.5em;
	margin-right: 1em;
	margin-left: 1em;
	padding: .1em .0em;
	background-color: #fffbf0;
	border: 1px solid #e7c157;
}
label.input {
	line-height: 1.5;
}
label.input::after {
	content: ": ";
}
button
{	clear: right;
	float: right;
	margin-bottom:0.5em;
	margin-right:1em;
}
#anlegen
{	float: left;
	margin-left:4em;
}
checkbox
{
	float: left;
}
/**Tabelle*/
table
{	text-align: left;
	margin-left:3em;
}
td,th
{	padding-right: 1.5em;
}
.festival
{	margin-bottom: 2em;
}
.artikel
{	margin-top: 0.2em;
	float:left;
}
.artikel td
{	border-bottom: 1px solid;
}

/* CSS-Regeln für alle Ausgabegeräte */
@media (max-width: 600px) {   
    
   /* Allgemein */
    
    body{
        
    }
    #webseite {
   		width :100%;
    }
    nav a,
    nav span,
    nav ul ul a{
    border-radius: 0;
    margin:0;
    }
	nav  ul  li {
	  display: none;
	}
	
	nav  ul:hover li {
	  display: block;
	}
	
	nav > ul::before {
	  display: block;
	  content: "Menü";
	  width: 10em;
	  height: 0.5em;
	  color: white;
	  padding: 10px;
	  font-weight: bold;
	  border: 1px solid black;
	  box-shadow: 0px 5px 10px white inset;
	  color: black;
	  background-color: white;
	}
	nav ul ul {
	margin: 0;
 	padding-left: 1em;
	}
		figure{
		  margin: 0;
		}
		 
	figure.bild1 {
	  display: inline-block;
	  width: 49%;
	}
	figure.bild2 {
	  display: inline-block;
	  width: 49%;
	}
	#spaltelinks
	{	width: 100%;
		margin-right:1em;
		float:left;
	}
	#spalterechts
	{	width: 100%;
		margin-left: 1em;
		float:left;
	}
	label {
		display: none;
	}
	input,textarea {
		width: 55%;
		margin-bottom:0.5em;
		margin-right: 0.5em;
	}
	img{
	width: 100%;
	height: auto;
	}
		
}