@CHARSET "ISO-8859-1";
#main
{	
	width:980px;
	height: 500px;
	background:white;
}	
#oben
{
	width:980px;
	height: 250px;
}	
#olinks
{	float: left;
	width:490px;
	height: 200px;
}
#orechts
{   float: right;
	width:490px;
	height: 200px;
}
#unten
{
	width:980px;
	height: 250px;
}
#ulinks
{	float: left;
	width:490px;
	height: 200px;
}
#urechts
{	float: right;
	width:490px;
	height: 200px;
}