@CHARSET "ISO-8859-1";
body 
{
	background-color:#990000;
	text-align:center;
}
#webseite
{
	width:980px;
	margin:0 auto;
	background-color:white;
}
#header
{   width: 980px;
	height: 150px;

}
nav {
	width: 980px;
	height: 45px;
	background-color: black;

}
nav:after {
	content:''; 
	clear: left;
}
 nav li {
  list-style-type: none; /* ohne Aufzählungspunkte */
  float: left;
  position: relative;
  	width: 8.6em;
	margin: 0.4em;
}
 
nav ul ul {
	/* Unterseite ausblenden */
	font: 0/0 serif;
	margin: .4em 0 0 0;
 	padding: 0;
	position: absolute;
	top: 1.9em; 
	left: -0.4em;
	z-index:-1;
}
 nav ul li:hover ul {
 	/* Unterseite einblenden */
	font: inherit;
	z-index: auto;
}
nav ul ul li {
  float: none;
  display: block;
}
nav a,
nav span {
	display: block;
	width: 8em;
	margin: 0.4em 0 0 0;
	padding: 0.3em;
	text-decoration: none;
	font-weight: bold;
	border: 1px solid black;
	border-radius: 10px;
	box-shadow: 0px 5px 10px white inset;
	color: black;
	background-color: white;
}
nav ul ul a,
nav ul ul span {
	border-radius: 10px;
}
nav a:focus,
nav a:hover,
nav span {
	/* aktuelle Seite hervorheben */
	color: white;
	background-color: #990000;
}
#main
{
	width:980px;
	height: 1000px;
}	
#oben
{
	width:980px;
	height: 250px;
}	
#olinks
{	float: left;
	width:490px;
	height: 200px;
}
#orechts
{   float: right;
	width:490px;
	height: 200px;
}
#unten
{
	width:980px;
	height: 250px;
}
#ulinks
{	float: left;
	width:490px;
	height: 200px;
}
#urechts
{	float: right;
	width:490px;
	height: 200px;
}
#footer
{	float: left;
	width:980px;
	height: 20px;
	background: black;
}